<html>

<head>
<title>DAVV Scholarship</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	
<!-- -----------------Navigation bar--------------------------- -->

	<nav class="navbar navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img 
					src= 
	  "https://banner2.cleanpng.com/20180614/kxa/kisspng-devi-ahilya-vishwavidyalaya-institute-of-managemen-5b22af70afcaa6.8922487815289997927201.jpg" 
					alt="" width="30" 
					height="30"></a> 
				<a class="navbar-brand bg-primary" th:href="@{/cogniHome}">Home</a>
			</div>
			
			<ul class="nav navbar-nav navbar-right">
				<li ><a class="navbar-brand bg-primary"
					th:href="@{/Login}"><span
						class="glyphicon glyphicon-log-in bg-primary"></span> Login</a></li>
				<li><a class="navbar-brand bg-primary"
					th:href="@{/register/}"><span
						class="glyphicon glyphicon-user bg-primary"></span> Sign Up</a></li>
			</ul>
		</div>
	</nav>
	
<!-- --------------------------Container box--------------------------------  -->

	<div class="container">
		<div style="background-color: #3279B7 " class="jumbotron">
		<div style="color: white">
			<h1 >D.A.V.V. SCHOLARSHIP</h1>
			<p>YOU DREAM WE BUILD</p>
		</div>
	</div>
	</div>
	<hr>
	
	<!-- ----------------------Description Body-------------------------------------------- -->
	<div class="container">
		<p> The scholarship program for Davv (Devi Ahilya Vishwavidyalaya) aims to support deserving 
			students in their pursuit of academic excellence. Through this program, various scholarships are 
			offered to students based on merit, financial need, and other criteria. These scholarships can help 
			alleviate the financial burden of education, enabling students to focus on their studies and achieve 
			their full potential.</p>
		<p>&nbsp;</p>
		<p>
			<strong>Scholarship for Higher Education</strong>
		</p>
		<p>The high cost to pursue higher education is often a major
			barrier among the meritorious students from under-served communities.</p>
		<p>Recognizing this challenge, Cognizant Foundation has
			institutionalized the following scholarship programmes in accredited
			colleges to promote equity, merit and inclusion in higher
			education&nbsp;</p>
		<ul>
			<li>Scholarship for Engineering</li>
			<li>Scholarship for Visually Impaired</li>
			<li>Scholarship for Graduate study in Computer Science</li>
			<li>Scholarship for Graduate study in Special Education</li>
			<li>Scholarship for Graduate study in Social Sciences</li>
		</ul>
		<p>
			<strong>&nbsp;</strong>
		</p>
		<strong>Digital Learning, STEM and Vocational Technical
			Education </strong>
		<p>The programmes under the Digital Learning and STEM Education
			focus on&nbsp;the quality of educational content, pedagogy and
			experiential STEM&nbsp;learning.&nbsp; Digital based assistive
			devices are leveraged&nbsp;to promote quality learning for special
			children. Teachers capacity building is given special focus as part
			of these programmes.&nbsp; CF has partnered with many organizations
			to drive digital based STEM learning in schools through the following
			programmes</p>
		<ul>
			<li>Building Teachers Capacity in STEM</li>
			<li>Mobile Science Laboratories and Science centre</li>
			<li>Enable Digital Learning in Classroom</li>
			<li>Promote quality learning for special children leveraging
				digital technologies</li>
		</ul>
		<p>
			<br>The programme to promote Technical Vocational Education
			supports technical institutes with the state-of-art infrastructure to
			run vocational training programmes and in promoting inclusion in
			vocational education.
		</p>
	</div>
</body>

</html>